<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hyojung.muggi">
    <uses-permission android:name = "android.permission.VIBRATE"/>

    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="muggy"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity android:name=".SplashScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="muggy">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".ChooseActivity">
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>>

        <activity android:name=".EggSelected">
            android:configChanges="orientation"
            android:screenOrientation="portrait"
        </activity>>
        <activity android:name=".EggPlay">
            android:configChanges="orientation"
            android:screenOrientation="portrait"
        </activity>>

        <activity android:name=".SpikeySelected">
            android:configChanges="orientation"
            android:screenOrientation="portrait"
        </activity>>
        <activity android:name=".BaldySelected">
            android:configChanges="orientation"
            android:screenOrientation="portrait"
        </activity>>
        <activity android:name=".BuggySelected">
            android:configChanges="orientation"
            android:screenOrientation="portrait"
        </activity>>

    </application>

</manifest>